/*
 * ox810se.dtsi - Device tree file for PLXTech OX810SE SoC
 *
 * Copyright (C) 2016 Neil Armstrong <narmstrong@baylibre.com>
 *
 * Licensed under GPLv2 or later
 */

/include/ "skeleton.dtsi"

/ {
	compatible = "plxtech,ox810se";

	cpus {
		#address-cells = <0>;
		#size-cells = <0>;

		cpu {
			device_type = "cpu";
			compatible = "arm,arm926ej-s";
			clocks = <&armclk>;
		};
	};

	memory {
		/* Max 256MB @ 0x48000000 */
		reg = <0x48000000 0x10000000>;
	} ;

	aliases {
		serial0 = &uart0;
		serial1 = &uart1;
		serial2 = &uart2;
		serial3 = &uart3;
		gpio0 = &gpio0;
		gpio1 = &gpio1;
	};

	clocks {
		osc: oscillator {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency  = <25000000>;
		};

		gmacclk: gmacclk {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency  = <125000000>;
		};

		rpsclk: rspclk {
			compatible = "fixed-factor-clock";
			#clock-cells = <0>;
			clock-div = <1>;
			clock-mult = <1>;
			clocks = <&osc>;
		};

		pll400: pll400 {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency  = <733333333>;
		};

		sysclk: sysclk {
			compatible = "fixed-factor-clock";
			#clock-cells = <0>;
			clock-div = <4>;
			clock-mult = <1>;
			clocks = <&pll400>;
		};

		armclk: armclk {
			compatible = "fixed-factor-clock";
			#clock-cells = <0>;
			clock-div = <2>;
			clock-mult = <1>;
			clocks = <&pll400>;
		};
	};

	soc {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "simple-bus";
		ranges;
		interrupt-parent = <&intc>;

		usb@40200000 {
			compatible = "plxtech,nas782x-usb";
			reg = <0x40200000 0x200000>;
			interrupts = <7>;
			status = "disabled";
		};

		gmac: mac@40400000 {
			compatible = "plxtech,nas782x-gmac", "snps,dwmac";
			reg = <0x40400000 0x2000>;
			interrupts = <8>;
			interrupt-names = "macirq";
			mac-address = [000000000000];
			phy-mode = "rgmii";
			clocks = <&stdclk 6>, <&gmacclk>;
			clock-names = "pclk", "stmmaceth";
			resets = <&reset 6>;
			reset-names = "stmmaceth";
			status = "disabled";

			/* Regmap for sys registers */
			plxtech,sys-ctrl = <&sys>;
		};

		pci-csrs@40600000 {
			compatible = "plxtech,nas782x-pci-csrs";
			reg = <0x40600000 0x200000>;
			status = "disabled";
		};

		pci@40800000 {
			compatible = "plxtech,nas782x-pci";
			reg = <0x40800000 0x200000>;
			status = "disabled";
		};

		nand@41000000 {
			compatible = "plxtech,nas782x-nand";
			reg = <0x41000000 0x1000000>;
			status = "disabled";
		};

		sata@42000000 {
			compatible = "plxtech,nas782x-sata-data";
			reg = <0x42000000 0x1000000>;
			status = "disabled";
		};

		dpe@43000000 {
			compatible = "plxtech,nas782x-nand";
			reg = <0x43000000 0x1000000>;
			status = "disabled";
		};

		apb-bridge@44000000 {
			#address-cells = <1>;
			#size-cells = <1>;
			compatible = "simple-bus";
			ranges = <0 0x44000000 0x1000000>;

			pinctrl {
				compatible = "plxtech,nas782x-pinctrl", "simple-bus";
				#address-cells = <1>;
				#size-cells = <1>;
				ranges;

				/* Regmap for sys registers */
				plxtech,sys-ctrl = <&sys>;

				/* Should define the ox810se mux-map */
				plxtech,mux-mask = <
					0xFFFFFFFF 0xFFFFFFFF 0xFFFFFFFF 0xFFFFFFFF 0xFFFFFFFF
					0xFFFFFFFF 0xFFFFFFFF 0xFFFFFFFF 0xFFFFFFFF 0xFFFFFFFF
					>;

				gpio0: gpio@000000 {
					compatible = "plxtech,nas782x-gpio";
					reg = <0x000000 0x100000>;
					interrupts = <21>;
					#gpio-cells = <2>;
					gpio-controller;
					interrupt-controller;
					#interrupt-cells = <2>;
					#gpio-lines = <32>;
				};

				gpio1: gpio@100000 {
					compatible = "plxtech,nas782x-gpio";
					reg = <0x100000 0x100000>;
					interrupts = <22>;
					#gpio-cells = <2>;
					gpio-controller;
					interrupt-controller;
					#interrupt-cells = <2>;
					#gpio-lines = <3>;
				};

				uart0 {
					pinctrl_uart0: uart0 {
						plxtech,pins = <0 30 4 0
								0 31 4 0>;
					};
				};

				uart1 {
					pinctrl_uart1: uart1 {
						plxtech,pins = <0 21 4 0
								0 30 4 0>;
					};
				};

				uart2 {
					pinctrl_uart2: uart2 {
						plxtech,pins = <0 6 4 0
								0 7 4 0>;
					};
				};

				usb {
					pinctrl_usb_clko: usb_clko {
						plxtech,pins = <0 10 3 0>;
					};
				};
			};

			uart0: uart@200000 {
			       compatible = "ns16550a";
			       reg = <0x200000 0x100000>;
			       clocks = <&sysclk>;
			       interrupts = <23>;
			       reg-shift = <0>;
			       fifo-size = <16>;
			       reg-io-width = <1>;
			       current-speed = <115200>;
			       no-loopback-test;
			       status = "disabled";
			       resets = <&reset 17>;
			};

			uart1: uart@300000 {
			       compatible = "ns16550a";
			       reg = <0x300000 0x100000>;
			       clocks = <&sysclk>;
			       interrupts = <24>;
			       reg-shift = <0>;
			       fifo-size = <16>;
			       reg-io-width = <1>;
			       current-speed = <115200>;
			       no-loopback-test;
			       status = "disabled";
			       resets = <&reset 18>;
			};

			i2c0: i2c@400000 {
			       compatible = "plxtech,nas782x-i2c";
			       reg = <0x400000 0x100000>;
			       interrupts = <28>;
			       status = "disabled";
			};

			i2s@500000 {
			       compatible = "plxtech,nas782x-i2s";
			       reg = <0x500000 0x100000>;
			       interrupts = <25>;
			       status = "disabled";
			       resets = <&reset 20>;
			};

			fan-monitor@600000 {
			       compatible = "plxtech,nas782x-fan-mon";
			       reg = <0x600000 0x100000>;
			       status = "disabled";
			};

			pwm: pwm@500000 {
			       compatible = "plxtech,nas782x-pwm";
			       reg = <0x700000 0x100000>;
			       status = "disabled";
			};

			ir: irrx@800000 {
			       compatible = "plxtech,nas782x-irrx";
			       reg = <0x800000 0x100000>;
			       status = "disabled";
			};

			uart2: uart@900000 {
			       compatible = "ns16550a";
			       reg = <0x900000 0x100000>;
			       clocks = <&sysclk>;
			       interrupts = <29>;
			       reg-shift = <0>;
			       fifo-size = <16>;
			       reg-io-width = <1>;
			       current-speed = <115200>;
			       no-loopback-test;
			       status = "disabled";
			       resets = <&reset 22>;
			};

			uart3: uart@a00000 {
			       compatible = "ns16550a";
			       reg = <0xa00000 0x100000>;
			       clocks = <&sysclk>;
			       interrupts = <30>;
			       reg-shift = <0>;
			       fifo-size = <16>;
			       reg-io-width = <1>;
			       current-speed = <115200>;
			       no-loopback-test;
			       status = "disabled";
			       resets = <&reset 23>;
			};
		};

		apb-bridge@45000000 {
			#address-cells = <1>;
			#size-cells = <1>;
			compatible = "simple-bus";
			ranges = <0 0x45000000 0x1000000>;

			sys: sys-ctrl@000000 {
				compatible = "plxtech,ox810se-sys-ctrl", "syscon", "simple-mfd";
			      	reg = <0x000000 0x100000>;

				reset: reset-controller {
					compatible = "plxtech,nas782x-reset";	
					#reset-cells = <1>;
			       	};

				reboot {
					compatible = "syscon-reboot";
					regmap = <&sys>;
					offset = <0x34>;
					mask = <0x1>;
				};

				stdclk: stdclk {
					compatible = "plxtech,nas782x-stdclk";
					#clock-cells = <1>;
				};
			};

			clk: clk-ctrl@100000 {
			       	compatible = "plxtech,ox810se-clk-ctrl", "syscon", "simple-mfd";
			       	reg = <0x000000 0x100000>;
			};

			rtc@100000 {
			       	compatible = "plxtech,plxtech,nas782x-rtc";
			       	reg = <0x000000 0x100000>;
			};

			rps@300000 {
				#address-cells = <1>;
				#size-cells = <1>;
				compatible = "simple-bus";
				ranges = <0 0x300000 0x100000>;

				intc: interrupt-controller@0 {
					compatible = "plxtech,nas782x-rps";
					interrupt-controller;
					reg = <0 0x200>;
					#interrupt-cells = <1>;
				};

				timer@200 {
					compatible = "plxtech,nas782x-rps-timer";
					reg = <0x200 0x40>;
					clocks = <&rpsclk>;
					interrupts = <4 5>;
				};
			};

			rps@400000 {
				#address-cells = <1>;
				#size-cells = <1>;
				compatible = "simple-bus";
				ranges = <0 0x400000 0x100000>;

				copro-gpio {
					compatible = "plxtech,nas782x--copro-gpio";
					reg = <0x3c0 0x10>;
					interrupts = <4>;
					status = "disabled";
				};
			};

			dma@600000 {
				compatible = "plxtech,nas782x-dma";
				reg = <0x600000 0x100000>;
				interrupts = <13 14 15 16 20>;
			};

			dpe@700000 {
				compatible = "plxtech,nas782x-dpe";
				reg = <0x700000 0x80000>;
				interrupts = <17>;
			};

			ibw@780000 {
				compatible = "plxtech,nas782x-ibw";
				reg = <0x780000 0x80000>;
			};

			ddr@800000 {
			       	compatible = "plxtech,nas782x-ddr";
			       	reg = <0x800000 0x100000>;
			};

			sata@900000 {
			       	compatible = "plxtech,nas782x-sata";
			       	reg = <0x900000 0x100000>;
				interrupts = <18 19 26 27>;
				interrupts-names = "sata1", "sata2", "error1", "error2";
			};

			dma-chksum@a00000 {
			       compatible = "plxtech,nas782x-dma-checksum";
			       reg = <0xa00000 0x100000>;
			};

			copro@b00000 {
			       compatible = "plxtech,nas782x-copro";
			       reg = <0xb00000 0x100000>;
			};

			dma@c00000 {
			       compatible = "plxtech,nas782x-dma-sg";
			       reg = <0xc00000 0x100000>;
			};
		};
	};
};

